pool:
  vmImage: 'ubuntu-latest'
trigger:
  batch: true
  branches:
    include: [ 'refs/heads/main' ]
stages:
  - stage: Build
    jobs:
      - job: Build
        workspace:
          clean: all
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: 20.x
          - task: npmAuthenticate@0
            inputs:
              workingFile: $(System.DefaultWorkingDirectory)/.npmrc
          - task: Npm@1
            displayName: npm install
            inputs:
              workingDir: $(System.DefaultWorkingDirectory)
              verbose: false
          - task: Npm@1
            displayName: npm publish
            inputs:
              command: publish
              workingDir: $(System.DefaultWorkingDirectory)
              publishRegistry: useFeed
              publishFeed: BaukRegistry
              publishLocation: Container
